.auth-container {
    text-align: center;
    padding: 50px;
}


.register-form,
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin:auto;
}

.auth-container input {
    margin: auto;
    padding: 0.625rem 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 1rem;
    transition: border-color 0.2s, box-shadow 0.2s;
    padding: 8px;
    margin-bottom: 20px;
    height: 40px;
    width: 100%;
}

.auth-container input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

.auth-container .btn {
    font-weight: 700;
    font-size: 1.5rem;
}
.btn {
    padding: 0.625rem 1.25rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 0.875rem;
    transition: all 0.2s;
    display: inline-flex;
    cursor: pointer;
    background: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    width: fit-content;
}


input {
    padding: 8px;
}

.auth-container .header {
    font-size: 60px;
    color: var(--primary-color);
}

@media (max-width: 768px) {
    .product-form {
        grid-template-columns: 1fr;
    }

    .auth-container .header {
        font-size: 40px;
    }

    .auth-container .btn {
        font-weight: 400;
        font-size: 1rem;
    }
}
