.body-container {
    background: #cbcbcb;
    display: flex;
    flex: 1;
    
}


.home-container {
    text-align: center;
    padding: 90px;
    background-color: rgb(255, 255, 255);
    margin: 120px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.home-container p {
    font-size: 32px;
}
.home-container h1 {
    font-size: 56px;
}

.home-container a button {
    font-size: 24px;
}

@media (max-width: 768px) {
    .home-container {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding-block: 90px;
        padding-inline: 0px;
    }

    h1 {
        font-size: 30px;
    }

    .home-container p {
        font-size: 18px;
    }
    .home-container h1 {
        font-size: 32px;
    }

    .home-container a button {
        font-size: 16px;
    }
}
