.body-container {
    background: #cbcbcb;
    display: flex;
    flex: 1;
}


.home-container {
    text-align: center;
    padding: 90px;
    background-color: rgb(255, 255, 255);
    margin: 90px;
    border-radius: 10px;
    flex: 1;
}
