.navbar {
    display: flex;
    justify-content: space-between;
    background: var(--primary-color);
    color: var(--secondary-color);
    padding: .5rem 2rem;
}

.navbar a {
    color: var(--text-color);
    text-decoration: none;
    margin: 0 10px;

}

.navbar-links-container{
    align-content: center;
}

@media (max-width: 768px) {
    .navbar {
        padding: .5rem;
        }
}