.product-container {
    padding: 20px;
    text-align: center;
}

.title {
    font-size: 1.875rem;
    font-weight: 700;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .product-container {
        padding: 0px;
    }
}
